 <!-- News Modals -->
 {% for post in site.posts %}
    <div class="news-modal modal fade" id="newsModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <a href="{{ post.projecturl }}" target="_blank"><img src="img/news/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Category:
                                    <strong><a>{{ post.category }}</a>
                                    </strong>
                                </li>
                                <li>URL:
                                    <strong><a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a>{{ post.date }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
