<!-- Publications Section -->
    <section id="publications">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                    <h3 class="section-subheading text-muted">Highlights</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  Pedrosa, Eurico, et al. <p><a href="https://www.research.manchester.ac.uk/portal/en/publications/shared-representations-of-actions-for-alternative-suggestion-with-incomplete-information(e43cf6ef-2d82-4d39-b48f-4e2d4c93a044).html">"TIMAIRIS: Autonomous Blank Feeding for Packaging Machines."</a> Bringing Innovative Robotic Technologies from Research Labs to Industrial End-users. Springer, Cham, 2020. 153-186.               
                </div>
            </div>
            <!-- <div class="row"> -->
            <!--     <div class="col&#45;lg&#45;12 text&#45;center"> -->
            <!--         <h2 class="section&#45;heading">All publications</h2> -->
            <!--         <h3 class="section&#45;subheading text&#45;muted"><a href="publications/">Publications</a></h3> -->
            <!--     </div> -->
            <!-- </div> -->
        </div>
    </section>
